<div>
    <label for="searchId">Buscar por ID:</label>
    <input id="searchId" [(ngModel)]="listaId" (input)="filtroClientes()" type="number" placeholder="Digite o ID">

    <label for="searchName">Buscar por Nome:</label>
    <input id="searchName" [(ngModel)]="listaNome" (input)="filtroClientes()" type="text" placeholder="Digite o Nome">
</div>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CPF</th>
            <th>Ações</th>
            <button (click)="salvar()">criar</button>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of (listaFiltrada.length > 0 ? listaFiltrada : lista); trackBy: trackById">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>
                <button (click)="editar(cliente.id)">Editar</button>
                <button (click)="delete(cliente)">Deletar</button>
                <button (click)="processos(cliente.id)">Adicionar processo</button>
            </td>
        </tr>
    </tbody>
</table>

